/* colors
#00b8e6 - bluish
#ff8c1a - orangish*/


:root{
  --titanBlue:    #00b8e6;
  --tuffyOrange:  #ff8c1a;
  --offWhite:     #F5F5F5;
  --lightGrey:    #808080;
}


/* The sidenav */
.sidenav {
  height: 65%;               /* sets the height of the side bar to 100% of the page height  */
  width: 15%;               /* */
  position: fixed;            /* */
  top: 0;                     /* */
  left: 0;                    /* */
  background-color: var(--lightGrey);     /* */
  overflow-x: hidden;         /* */
}

.button {
    background-color: var(--titanBlue);        /* titan blue */
    border-color:     var(--titanBlue);        /* titan blue */
    color:            white;          /* Color of text */
    padding:          15px 32px;      /* text padding */
    margin-top:       10px;           /* sets marign spacing on top*/
    text-align:       center;         /* align text to center of button */
    display:          block-level;    /* display inline */
    font-size:        16px;           /* size of the font */
    width:            100%;           /* fix the size to the width of the side bar */

}
.button:hover {opacity: .4;
}

.sidenavFooter{

}

/* report button style */
.buttonReport{
  background-color: var(--tuffyOrange);          /* set the background to red (tomato color)*/
  border-color:     var(--tuffyOrange);          /* set the border to red (tomato color)*/
  margin-top:       10px;
  width:            100%;           /* fix the size to the width of the side bar */
  padding:          15px 32px;      /* text padding */
  color:            white;            /* sets the color of text to white*/
  font-size:        16px;             /* changes the font size */
  text-align:       center;           /* centerst text */
}

/* header Formatting */
h1{
  font-size: 60px;
  text-align: center;
  color:     white;
}

/* section for chart body */
.chartBody{
  height: 100%;
  width:85%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--offWhite);

}

.h1Modal{
  font-size: 30px;
  color:     Black;
  width:     100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
