/* The sidenav */
.sidenav {
  height: 100%;               /* sets the height of the side bar to 100% of the page height  */
  width: 15%;               /* */
  position: fixed;            /* */
  z-index: 1;                 /* */
  top: 0;                     /* */
  left: 0;                    /* */
  background-color: #808080;     /* */
  overflow-x: hidden;         /* */
  padding-top: 20px;          /* */
}
.sidenavFooter{
  padding-top: 100%;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.button {
    background-color: #4CAF50;        /* Green */
    color:            white;          /* Color of text */
    padding:          15px 32px;      /* text padding */
    text-align:       center;         /* align text to center of button */
    display:          line-block;     /* display inline */
    font-size:        16px;           /* size of the font */
    width:            100%;          /* fix the size to the width of the side bar */
}

.buttonReport{
  background-color: #FF6347;          /* set the background to red (tomato color)*/
  border-color:     #FF6347;          /* set the border to red (tomato color)*/
  color:            white;            /* sets the color of text to white*/
  font-size:        30px;             /* changes the font size */
  border-radius:    50%;              /* makes the button round */
  size:             100px;            /* changes the size of the button */
  text-align:       center;           /* centerst text */
}

h1{
  font-size: 30px;
  color: white;
}

.chartBody{
  height: 100%;
  width:85%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #F5F5F5;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
